#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_configure:
	# Skip meson configure - this package installs files directly via debian/install
	@true

override_dh_auto_build:
	# No build step needed for this Python-only package
	@true

override_dh_auto_install:
	# Let dh install files listed in debian/install
	dh_auto_install

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
